/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {

  --title-color: var(--color-dark-black, #000028);
  --brand-color: var(--color-brand-purple, #db00ff);
  --shadow-decor: var(--color-accent-dark, #ff0070);
  --secondary-color: var(--color-accent-dark, #ff0070);
  --secondary-color-dark: var(--color-button-purple, #ff007040);
  --accent-color: var(--color-accent-dark, #ff0070);
  --highlight-color: var(--color-dark-black, #353430);
  --text-color: var(--color-text-pink, #f1b2ce);
  --title-accent: var(--color-accent-dark, #ff0070);
  --page-background-color: var(--color-dark-black,#000028);
  --page-background-image: url("../images/cover-image-dark.png");
  --rec-visibility: var(--rec-dark-visibility, visible);
}

@media (prefers-color-scheme: dark) {
  :root {
    --title-color: var(--color-dark-black,#000028);
    --brand-color: var(--color-brand-purple, #db00ff);
    --shadow-decor: var(--color-accent-dark, #ff0070);
    --secondary-color: var(--color-accent-dark, #ff0070);
    --secondary-color-dark: var(--color-button-purple, #ff007040);
    --accent-color: var(--color-accent-dark, #ff0070);
    --highlight-color: var(--color-dark-black, #353430);
    --text-color: var(--color-text-pink, #f1b2ce);
    --title-accent: var(--color-accent-dark, #ff0070);
    --page-background-color: var(--color-dark-black, #000028);
    --page-background-image: url("../images/cover-image-dark.png");
    --rec-visibility: var(--rec-dark-visibilityvisibility, visible);
  }
}
