/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --title-color: var(--color-light-black, #353430);
  --accent-color: var(--color-accent-light, #ff8dcb);
  --brand-color: var(--color-brand-pink, #ffc2e6);
  --highlight-color: var(--color-light-black, #353430);
  --text-color: var(--color-light-black, #353430);
  --menu-color: var(--color-button-black, #35343040);
  --page-background-color: var(--cover-color, #fff1f7);
  --page-background-image: url("../images/cover-image-light.png");
  --rec-visibility: var(--rec-visibility-light, hidden);
}

@media (prefers-color-scheme: light) {

  :root {
    --title-color: var(--color-light-black, #353430);
    --accent-color: var( --color-accent-pink, #ff8dcb);
    --brand-color: var(--color-brand-pink, #ffc2e6);
    --highlight-color: var(--color-light-black, #353430);
    --text-color: var(--color-light-black, #353430);
    --menu-color: var(--color-button-black, #35343040);
    --page-background-color: var(--cover-color, #fff1f7);
    --page-background-image: url("../images/cover-image-light.png");
    --rec-visibility: var(--rec-visibility-light, hidden);
  }
}

