/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --text-color: var(--color-main-black, #353430);
  --accent-color: var(--color-accent-pink, #ff8dcb);
  --brand-color: var(--color-brand-pink, #ffc2e6);
  --highlight-color: var(--color-main-black, #353430);
  --secondary-color: var(--color-main-black, #353430);
  --secondary-color-dark: var(--color-dark-black, #35343040);
  --page-background-color: var(--cover-color, #fff1f7);
  --page-background-image: url("../images/cover-image-light.png");
  --rec-visibility: hidden;
}

@media (prefers-color-scheme: light) {
  .header_rec {
    visibility: var(--rec-visibility);
  }
  :root {
    --text-color: var(--color-main-black, #353430);
    --accent-color: var(--color-accent-pink, #ff8dcb);
    --brand-color: var(--color-brand-pink, #ffc2e6);
    --highlight-color: var(--color-main-black, #353430);
    --secondary-color: var(--color-main-black, #353430);
    --secondary-color-dark: var(--color-second-black, #35343040);
    --page-background-color: var(--cover-color, #fff1f7);
    --page-background-image: url("../images/cover-image-light.png");
    --page-background-color: var(--default-color, #191970);
    --rec-decor-visibility: hidden;
  }
}
