/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  max-width: 1024px;
  min-height: 100vh;
  color: var(--brand-color, #f1b2ce);
  font-family: "IBM Plex mono", sans-serif;
  background-color: var(--cover-color, #fff1f7);
  background-image: var(--page-background-image, url "../images/cover-image.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.cover {
 margin-block-start: 20px;
  display: grid;
  min-height: 668px;
  height: 100vh;
  grid-template-rows: 1fr max-content 1fr;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.header {
  gap: 60px;
}

.header_rec {
  display: inline-flex;
  align-items: center;
  position: absolute;
  z-index: -1;
  visibility: var(--header_rec-visibility, visible);
  top: 0px;
  right: 28px;
  gap: 10px;
}

.header_rec::before {
  content: "rec";
  text-transform:  uppercase;
  color: var(--accent-color, #ff0070);
  line-height: 23.4px;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
}

.header_rec::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--accent-color, #ff0070);
  background: var(--accent-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
}

.page-title {
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  font-weight: 700;
  font-style: normal;
  line-height: 82.5%;
  color: var(--brand-color);
  justify-self: start;
  padding-block-start: 54px;
}

.shadow-decor {
  text-shadow: 4px 4px 0 #ff0070;
}

.header__theme-menu {
  display: flex;
  flex-direction: column-reverse;
  justify-self: center;
  align-self: start;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 12px;
  color: var(--secondary-color);
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 12px 3px;
  background: transparent;
  line-height: 18px;
  font-size: 18px;
  font-weight: 400;
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 25px;
  width: 25px;
  border: 1px solid var(--secondary-color, #ff0070);
  border-width: 1px 1px 0 0;
  top: 0px;
  right: 18px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  z-index: -1;
  height: 25px;
  width: 25px;
  border-width: 0 0 1px 1px;
  left: 21px;
  bottom: -55px;
  border-inline-start: 1px solid var(--secondary-color, #ff0070);
  border-block-end: 1px solid var(--secondary-color, #ff0070);
}

.header__theme-menu-button_active {
  border-color: currentColor;
  cursor: default;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-bottom: 1px solid var(--secondary-color);
}

.header-text {
  max-width: 491px;
  background-color: var(--accent-color);
  color: var(--highlight-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: start;
  justify-self: end;
  align-self: center;
  margin-inline-end: 20px;
  margin-block-start: -10px;

}

.main {
  margin-block-start: 55px;
  padding: 80px 20px;
  display: grid;
  gap: 80px;
}

.section {
  display: grid;
  gap: 20px;
  grid-template-columns: clamp(14.75rem, -0.0625rem + 30.8594vw, 19.6875rem) 1fr;
}

.section-articles {
  display: grid;
  gap: 20px;
}

.section-article {
  flex-direction: column;
  display: grid;
  color: var(--text-color);
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 400;
  gap: 10px;
  
}

.section-title, 
.title-list {
  color: var(--secondary-color);
  font-style: normal;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 700;
}

.title-list {
  max-width: 315px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--highlight-color);
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 700;
}

.section-title_accent {
  font-weight: 400;
  grid-column: span 2;
 
}

.link:hover {
  border-bottom: 1px solid var(--color-text-pink, #f1b2ce);
}

.link:focus {
  outline: 0;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.section-low_focus {
  display: flex;
  flex-direction: column;
}

.section-low_focus-articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.section-advices_focus-articles {
  flex-direction: column;
}

.section-advices_focus-title {
  background-color: var(--accent-color);
  margin-block-end: 20px;
}

.gallery-lists {
  grid-column: span 2;
  
}

.gallery-lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, min-content);
  grid-template-areas:
    "sunset sunset food"
    "cassette books food"
    "cassette road road";
  gap: 20px;
}

.gallery-list_item-img {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.sunset {
  grid-area: sunset;
}

.food {
  grid-area: food;
}

.cassette {
  grid-area: cassette;
}

.books {
  grid-area: books;
}

.road {
  grid-area: road;
}

.footer {
  margin-block-start: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shadow-decor:last-child {
  text-shadow: 2px 2px 0 #ff0070;
}

@media (768px <= width < 1024px) {
  
  .header {
    padding-block-end: 100px;
  }

  .header__theme-menu {
    margin-block-start: 173px;
    justify-self: end;
    margin-inline-end: 20px;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }
  
  .page-title {
    font-size: 120px;
    line-height: 99px;
    text-shadow: 4px 4px 0 var(--accent-color);
  }

  .header-text {
    max-width: 364px;
  }

  .main {
  margin-block-start: -40px;
  }

  .section-title_accent {
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 400;
  }

  .title-decor {
    max-width: 100%;
  }

  .title-list {
    max-width: 236px;
  }

  .section-low_focus {
    display: flex;
    flex-direction: column;
  }

  .section-low_focus-articles {
    display: flex;
    flex-direction: column;
    line-height: 23.4px;
    font-size: 18px;
  }

  .section-gallery {
    margin-block-start: -50px ;
  }
  .footer {
  margin-block-end: 20px;
}
  .footer-title {
    padding-block-end: 100px;
    text-shadow: 2px 2px 0 var(--accent-color);
  }
  .decorated-zone::after {
    margin-block-end: 98px;
  }
}

@media (375px <= width < 768px) {

  .header__theme-menu {
    margin-block-start: 53px;
    justify-self: end;
    margin-inline-end: 14px;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .decorated-zone::before {
    margin-block-start: -10px;
    margin-inline-end: -5px;
  }
  .decorated-zone::after {
    margin-block-end: 87px;
    margin-inline-start: -15px;
  } 

  .header_rec {
    gap: -4px;
    margin-block-start: -11px;
  }
  .page-title {
    font-size: 116px;
    line-height: 95.7px;
    padding-block-start: 0px;
    margin-block-start: -42px;
  }

  .header-text {
    max-width: 100%;
    justify-self: start;
    margin-block-start: -110px;
    margin-inline-end: 15px;
  }

  .cover {
    padding-inline-start: 10px;
    gap: 80px;
  }

  .main {
    margin-block-start: -48px;
    padding-inline-start: 10px;
    padding-inline-end: 15px;
    gap: 60px;
  }

  .section {
    display: flex;
    flex-direction: column;
    margin-block-start: -10px;
  }
 
  .section-title {
    margin-block-start: 5px;
    gap: 20px;
    width: 100%;

  }
  .section-articles {
    gap: 21px;
  }
  .title-decor {
    width: 100%;
  }
  .section-title_accent {
    gap: 5px;
  }

  .section-difficult_focus {
    flex-direction: column;
    gap: 10px;
  }

  .section-low_focus-articles {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .section-gallery {
    display: flex;
    margin-block-start: 0px;
    flex-direction: column;
    width: 100%;
  }
  
  .gallery-lists {
    display: flex;
    flex-direction: column;
  }
  .gallery-list_item-img {
    display: block;
  } 
  

  .footer-title {
    text-shadow: 2px 2px 0 var(--accent-color);
  }

  .decorated-zone::after {
    margin-block-end: 220px;
  }

}
