/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  max-width: 1024px;
  min-height: 100%;
  height: 100vh;
  color: var(--brand-color);
  font-family: "IBM Plex mono", monospace;
  background-color: var(--page-background-color);
  background-image: var(--page-background-image);
  background-attachment: fixed;
  background-size: cover;
}

.cover {
  min-height: 768px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.header {
  padding-inline-end: 18px;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.header_rec {
  display: inline-flex;
  align-items: center;
  position: absolute;
  z-index: -1;
  visibility: var(--rec-visibility);
  top: 20px;
  right: 28px;
  gap: 10px;
}

.header_rec::before {
  content: "rec";
  text-transform: uppercase;
  color: var(--accent-color);
  line-height: 23.4px;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
}

.header_rec::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--accent-color);
  background: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.page-title {
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  font-weight: 700;
  font-style: normal;
  line-height: 82.5%;
  color: var(--brand-color);
  justify-self: start;
  align-self: start;
}

.shadow-decor {
  text-shadow: 4px 4px 0 var(--shadow-decor);
}

.header__theme-menu {
  padding-block-start: 20px;
  padding-inline-start: 10px;
  display: flex;
  flex-direction: column-reverse;
  justify-self: center;
  align-self: start;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 12px;
  color: var(--secondary-color);
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 12px 3px;
  background: transparent;
  line-height: 18px;
  font-size: 18px;
  font-weight: 400;
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor var(--secondary-color-dark);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 25px;
  width: 25px;
  border: 1px solid var(--accent-color);
  border-width: 1px 1px 0 0;
  top: 20px;
  right: 18px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  z-index: -1;
  height: 25px;
  width: 25px;
  border-width: 0 0 1px 1px;
  left: 21px;
  bottom: 20px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  border-color: currentColor;
  cursor: default;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-bottom: 1px solid var(--secondary-color);
}

.header-text {
  max-width: 491px;
  background-color: var(--accent-color);
  color: var(--title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: start;
  justify-self: end;
  align-self: center;
  margin-block-end: 20px;
}

.main {
  padding: 58px 20px 0px 20px;
}
.section {
  padding-block-end: 60px;
  gap: 20px;
  display: grid;
  grid-template-columns: clamp(14.75rem, -0.0625rem + 30.8594vw, 19.6875rem) 1fr;
}

.section-articles li {
  margin-block-end: 1.27rem;
}

.section-article {
  font-family: "IBM Plex mono", monospace;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.5px;
  flex-direction: column;
  display: grid;
  color: var(--text-color);
  gap: 9px;
}

.title-list {
  color: var(--title-accent);
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  max-width: 315px;
  line-height: 23.5px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--highlight-color);
  font-size: 18px;
  line-height: 23.5px;
  font-weight: 700;
}

.accent-text,
.section-title_accent {
  font-size: 18px;
  font-weight: 400;
  font-family: "IBM Plex mono", monospace;
  line-height: 23.5px;
}

.link:hover {
  outline: 0;
  border-bottom: 1px solid var(--title-color);
}

.link:focus {
  border: 1px solid var(--text-color);
}

.link:focus-visible {
  border: 1px solid var(--text-color);
}

.section-low_focus {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-low_focus-articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.section-advices_focus-articles {
  flex-direction: column;
  gap: 20px;
}

.section-advices_focus-title {
  margin-block-end: 20px;
  background-color: var(--accent-color);
}

.sextion-article {
  color: var(--text-color);
}

.gallery-lists {
  display: grid;
  grid-column: span 2;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, min-content);
  grid-template-areas:
    "sunset sunset food"
    "cassette books food"
    "cassette road road";
  gap: 20px;
}

.title_width {
  grid-column: span 2;
}

.gallery-list_item-img {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.sunset {
  grid-area: sunset;
}

.food {
  grid-area: food;
}

.cassette {
  grid-area: cassette;
}

.books {
  grid-area: books;
}

.road {
  grid-area: road;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer-title {
  align-self: center;
}

.shadow-decor:last-child {
  text-shadow: 2px 2px 0 var(--shadow-decor);
}

@media (width < 786px) and (orientation: portrait) {
  .cover {
    max-width: 768px;
    min-height: 100vh;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: center;
   
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .page-title {
    font-size: clamp(7.25rem, 7.1055rem + 0.6163vw, 7.5rem);
    line-height: 99px;
    align-self: end;
  }

  .header-text {
    align-self: center;
    max-width: 364px;
  }
  .section-title {
    gap: 0px;
  }

  .title-decor {
    width: 100%;
  }
  .accent-text,
  .title-decor {
    gap: 0px;
  }

  .title-list {
    max-width: 236px;
  }

  .section-low_focus {
    display: flex;
    flex-direction: column;
  }

  .section-low_focus-articles {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .footer-title {
    align-self: center;
  }
}

@media (width < 376px) {
  .page {
    margin: 0;
  }
  .cover {
    margin: 0;
    padding-block-start: 10px;
  }

  .header {
    height: 100vh;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 0.625rem;
  }

  .decorated-zone::before {
    top: 10px;
    right: 10px;
  }

  .decorated-zone::after {
    left: 10px;
    bottom: 10px;
  }
  .header_rec {
    top: 10px;
    right: 19px;
  }

  .header__theme-menu {
    justify-self: end;
    margin-block-end: 20px;
  
  }

  .page-title {
    font-size: clamp(1rem, -35.364rem + 181.818vw, 7.25rem);
    line-height: 95.7px;
  }

  .header-text  {
    margin-block-end: 5px;
  }

  .main {
    margin: 0;
    padding: 0;
  }

  .section {
    margin: 0;
    gap: 10px;
    padding: 40px 10px 0px 10px;
    display: flex;
    flex-direction: column;
  }
  .title-list {
    gap: 20px;
    width: 100%;
    max-width: 355px;
  }

  .section-title {
    width: 100%;
  }
  .title-decor {
    width: 100%;
    margin: 0;
    gap: 10px;
  }

  .section-advices_focus-title {
    margin-block-end: 20px;
  }

  .section-gallery {
    width: 100%;
  }

  .gallery-lists {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer {
    margin-block-start: 27px;
    align-self: center;
  }
}
