/*
  Переменные для вашего проекта
  и их переопределение под различные устройства

*/
:root {
  --cover-light-color: #fff1f7;
  --color-text-pink: #f1b2ce;
  --color-brand-purple: #db00ff;
  --color-brand-pink: #ffc2e6;
  --color-accent-light: #ff8dcb;

  --color-accent-dark: #ff0070;
  --color-button-grey: #35343040;
  --color-button-purple: #ff007040;

  --color-dark-black: #000028;
  --color-light-black: #353430;
    
  --page-background-image: url("../images/cover-image.png");

  --page-background-color: #000028;
  --rec-light-visibility: hidden;
  --rec-dark-visibility: visible;
/*
   --title-color: var(--color-text-pink, #f1b2ce);
    --brand-color: var(--color-brand-purple, #db00ff);
    --secondary-color: var(--color-accent-dark, #ff0070);
    --secondary-color-dark: var(--color-button-purple, #ff007040);
    --accent-color: var(--color-accent-dark #ff0070);
    --text-color: var(--color-dark-black, #000028);
    --shadow-decor: var(--color-accent-dark, #ff0070);
    --page-background-color: var(--color-dark-black, #000028);
    --page-background-image: url("../images/cover-image.png");
    --rec-visibility: var(--rec-visibility);*/
    
}